*{
    margin: 0px;
    padding: 0px;
}

h1{
    color:rgb(152, 247, 80);
}
.dolor{
    background-image: url("../imeges/jonah-brown-lN1-wyjEVHQ-unsplash.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh; 
    filter: blur(3px); 
    /* -webkit-filter: blur(3px); */

}
.elit{
    background-color: rgb(0,0,0,0.4);
    /* background-color: rgb(170, 163, 163); */
    /* filter: blur(3px); */
    
    color: white;
    font-weight: bold;
    border: 1px solid  ;
    border-radius:5px;
    box-shadow: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 20px;
    width: 40%;
}
.roy{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
   
    
}
.roy,input{
    margin:20px;
    padding: 10px;
}
.Visit{
    margin-top: 60px;
    text-align: center; 
    margin-bottom: 20px;
   
}
.Visit,h1{
    text-align: center;
}

.sit{
    margin-top: 10px;
    left: 30%;
    right: 30%;
     position: absolute;
    /* border: 5px solid red; */
    
}
.ear{
    margin-bottom: 130px;
 
}
.bill{
  
    /* width: 20px; */
    /* border: 3px solid blue; */
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 5px rgb(205, 198, 198);
}
.bill,img{
    width: 350px;
}
.cum{
    /* margin-top: 20px; */
    /* border: 5px solid red; */
    /* padding: 20px; */
    display:flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
}
.mets{
    margin-top: 5px;
    
    display: flex;
    justify-content: space-between;
}